USE [ClearHotsauceEnterprise]
GO
/****** Object:  Table [dbo].[CDM_tblMENU_ITEM_MULTIPLE_PRINT_ZONES]    Script Date: 02/28/2014 15:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDM_tblMENU_ITEM_MULTIPLE_PRINT_ZONES](
	[itemID] [nvarchar](20) NOT NULL,
	[Print_Zone] [smallint] NOT NULL,
 CONSTRAINT [PK_CDM_tblMENU_ITEM_MULTIPLE_PRINT_ZONES] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC,
	[Print_Zone] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
