USE [ClearHotsauceEnterprise]
GO
/****** Object:  Table [dbo].[CDM_tblUOMS]    Script Date: 02/28/2014 15:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDM_tblUOMS](
	[uom_description] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
