USE [ClearHotsauceEnterprise]
GO
/****** Object:  Table [dbo].[CDM_Transfer_tblMENU_ITEMS]    Script Date: 02/28/2014 15:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CDM_Transfer_tblMENU_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Id] [int] NOT NULL,
	[Item] [nvarchar](25) NOT NULL,
	[Abbreviated_Name] [nvarchar](25) NULL,
	[MultiLanguageSetup] [nvarchar](50) NULL,
	[Language_2_Name] [nvarchar](50) NULL,
	[Language_3_Name] [nvarchar](50) NULL,
	[Language_4_Name] [nvarchar](50) NULL,
	[Language_5_Name] [nvarchar](50) NULL,
	[KitchenPrintLang1] [nvarchar](1) NULL,
	[KitchenPrintLang2] [nvarchar](1) NULL,
	[KitchenPrintLang3] [nvarchar](1) NULL,
	[KitchenPrintLang4] [nvarchar](1) NULL,
	[KitchenPrintLang5] [nvarchar](1) NULL,
	[Price] [money] NULL,
	[Status] [nvarchar](10) NULL,
	[Section] [nvarchar](25) NULL,
	[Category] [nvarchar](20) NULL,
	[Print_Zone] [int] NULL,
	[Tax_Cat] [nvarchar](1) NULL,
	[Receipt_Print] [nvarchar](1) NULL,
	[Show_Button] [nvarchar](1) NULL,
	[Display_Sequence] [int] NULL,
	[Kitchen_Sum] [nvarchar](1) NULL,
	[Active] [nvarchar](1) NULL,
	[Open_Price] [nvarchar](1) NULL,
	[Date_LastSold] [datetime] NULL,
	[Alt_Price1] [money] NULL,
	[Alt_Price2] [money] NULL,
	[Happy_HourPrice] [money] NULL,
	[SubMenu_1] [nvarchar](50) NULL,
	[NumAllowed_1] [int] NULL,
	[SubMenu_2] [nvarchar](50) NULL,
	[NumAllowed_2] [int] NULL,
	[SubMenu_3] [nvarchar](50) NULL,
	[NumAllowed_3] [int] NULL,
	[SubMenu_4] [nvarchar](50) NULL,
	[NumAllowed_4] [int] NULL,
	[SubMenu_5] [nvarchar](50) NULL,
	[NumAllowed_5] [int] NULL,
	[SubMenu_6] [nvarchar](50) NULL,
	[NumAllowed_6] [int] NULL,
	[SubMenu_7] [nvarchar](50) NULL,
	[NumAllowed_7] [int] NULL,
	[SubMenu_8] [nvarchar](50) NULL,
	[NumAllowed_8] [int] NULL,
	[SubMenu_9] [nvarchar](50) NULL,
	[NumAllowed_9] [int] NULL,
	[SubMenu_10] [nvarchar](50) NULL,
	[NumAllowed_10] [int] NULL,
	[MI_Type] [nvarchar](15) NULL,
	[MI_Extra] [nvarchar](1) NULL,
	[MI_Has_Children] [nvarchar](1) NULL,
	[MI_Sale_Rpt_Category] [nvarchar](50) NULL,
	[Picture] [nvarchar](500) NULL,
	[PicStretchStyle] [int] NULL,
	[Cost] [money] NULL,
	[Open_Price_Minimum] [money] NULL,
	[Alt_Pricing_In_Use] [char](1) NULL,
	[Bar_Exclude_Tax] [char](1) NULL,
	[Expo_Exclude] [char](1) NULL,
	[Meal_Course] [nvarchar](2) NULL,
	[App_As_Entree_PZ] [smallint] NULL,
	[Check_On_Hand_Qty] [char](1) NULL,
	[Department] [nvarchar](15) NULL,
	[RollUp_Add_Price] [char](1) NULL,
	[Special_Instruction] [char](1) NULL,
	[Line_Color] [nvarchar](10) NULL,
	[Employee_Price] [money] NULL,
	[Discount_Exclude] [char](1) NULL,
	[Override_Parent_PZ] [smallint] NULL,
	[Modifier] [char](1) NULL,
	[Contest_Item] [char](1) NULL,
	[Button_Color] [nvarchar](10) NULL,
	[Hot_Item] [char](1) NULL,
	[Hot_Item_Display_Seq] [int] NULL,
	[KDS_Routing] [varchar](3) NULL,
	[Prep_Time_Sec] [int] NULL,
	[Recipe_Instructions] [nvarchar](max) NULL,
	[Priced_By_Weight] [char](1) NULL,
	[Linked_Item_ID] [int] NULL,
	[last_update] [datetime] NULL,
	[Linkable_Item] [char](1) NULL,
	[tax1] [smallint] NULL,
	[tax2] [smallint] NULL,
	[tax3] [smallint] NULL,
	[tax4] [smallint] NULL,
	[tax5] [smallint] NULL,
	[smart_tax] [smallint] NULL,
	[surcharge_tax] [smallint] NULL,
	[conditional_tax] [smallint] NOT NULL,
	[kitchen_print_group] [nvarchar](20) NOT NULL,
	[upc_number] [nvarchar](50) NULL,
	[deleted] [char](1) NOT NULL,
	[net_forecolor] [nvarchar](20) NULL,
	[net_backcolor] [nvarchar](20) NULL,
	[on_hand_warning_threshold] [decimal](18, 4) NOT NULL,
	[rewardPoints] [int] NOT NULL,
	[Is_Uploading] [bit] NOT NULL,
	[SeparateonKT] [char](1) NULL,
	[Print_Label] [nvarchar](10) NULL,
	[PrintPriceonKT] [char](1) NULL,
	[GratuityExclude] [char](1) NULL,
	[web_description] [nvarchar](100) NULL,
	[web_show] [bit] NOT NULL,
	[SetPriceID] [int] NULL,
	[OrderMan_Abbreviated_Name] [nvarchar](7) NULL,
	[OrderMan_Display_Sequence] [int] NULL,
	[Mod1Filename] [varchar](10) NULL,
	[Mod2Filename] [varchar](10) NULL,
	[Mod3Filename] [varchar](10) NULL,
	[Mod4Filename] [varchar](10) NULL,
	[Mod5Filename] [varchar](10) NULL,
	[Mod6Filename] [varchar](10) NULL,
	[Mod7Filename] [varchar](10) NULL,
	[Mod8Filename] [varchar](10) NULL,
	[Mod9Filename] [varchar](10) NULL,
	[Mod10Filename] [varchar](10) NULL,
	[Large_Picture] [nvarchar](200) NULL,
	[EditorID] [int] NULL,
	[EditorName] [nvarchar](50) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[TransferState] [int] NOT NULL,
 CONSTRAINT [PK_CDM_Transfer_tblMENU_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CDM_Transfer_tblMENU_ITEMS] ADD  CONSTRAINT [DF_CDM_tblMENU_ITEMS_Transfer_TransferState]  DEFAULT ((1)) FOR [TransferState]
GO
