USE [ClearHotsauceEnterprise]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 02/28/2014 15:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ShowRolesDesc] [bit] NULL
) ON [PRIMARY]
GO
