USE [ClearHotsauceEnterprise]
GO
/****** Object:  StoredProcedure [dbo].[TranInsUpd_EmployeeTimeSheet]    Script Date: 02/28/2014 15:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TranInsUpd_EmployeeTimeSheet]
@StoreID int,
@EmployeeID nvarchar(10), 
@ID int,
@TimeIn datetime, 
@TimeOut datetime, 
@CashTipsDeclared money, 
@ChargedTipsDeclared money, 
@ChargeSales money, 
@Covers int, 
@Discounts money, 
@EntreeCount int, 
@GCSold money, 
@GCRedeemed int, 
@PositionID int, 
@NetSales money, 
@PayRate money, 
@Numtables int, 
@TaxCollected money, 
@TipDeclared money,
@IndirectTipsDeclared money,
@TipPoolContribution money,
@BusinessDate datetime,
@HoursWorked decimal(18,3),
@OT1HoursWorked decimal(18,3),
@OT1Payrate money,
@OT2HoursWorked decimal(18,3),
@OT2Payrate money

AS
BEGIN
 UPDATE EmployeeTimeSheet 
 SET TimeIn = @TimeIn,
	[TimeOut] = @TimeOut,
	CashTipsDeclared = @CashTipsDeclared,
	ChargedTipsDeclared = @ChargedTipsDeclared,
	ChargeSales = @ChargeSales,
	Covers = @Covers,
	Discounts = @Discounts,
	EntreeCount = @EntreeCount,
	GCSold = @GCSold,
	GCRedeemed = @GCRedeemed,
	PositionID = @PositionID,
	NetSales = @NetSales,
	PayRate = @PayRate,
	Numtables = @Numtables,
	TaxCollected = @TaxCollected,
	TipDeclared = @TipDeclared,
	IndirectTipsDeclared=@IndirectTipsDeclared,
	TipPoolContribution=@TipPoolContribution,
	HoursWorked=@HoursWorked,
	OT1HoursWorked=@OT1HoursWorked,
	OT1Payrate=@OT1Payrate,
	OT2HoursWorked=@OT2HoursWorked,
	OT2Payrate=@OT2Payrate,
	BusinessDate=@BusinessDate,
	LastUpdate = getDate()
 WHERE StoreID = @StoreID and EmployeeID = @EmployeeID and ID=@ID
 if(@@rowcount=0)
		INSERT INTO EmployeeTimeSheet(
						StoreID,
						EmployeeID,
						ID,
						TimeIn,
						[TimeOut],
						CashTipsDeclared,
						ChargedTipsDeclared,
						ChargeSales,
						Covers,
						Discounts,
						EntreeCount,
						GCSold,
						GCRedeemed,
						PositionID,
						NetSales,
						PayRate,
						Numtables,
						TaxCollected,
						TipDeclared,
						IndirectTipsDeclared,
						TipPoolContribution,
						HoursWorked,
						OT1HoursWorked,
						OT1Payrate,
						OT2HoursWorked,
						OT2Payrate,
						BusinessDate,
						LastUpdate)
		VALUES(@StoreID,
			@EmployeeID,
			@ID,
			@TimeIn,
			@TimeOut,
			@CashTipsDeclared,
			@ChargedTipsDeclared,
			@ChargeSales,
			@Covers,
			@Discounts,
			@EntreeCount,
			@GCSold,
			@GCRedeemed,
			@PositionID,
			@NetSales,
			@PayRate,
			@Numtables,
			@TaxCollected,
			@TipDeclared,
			@IndirectTipsDeclared,
			@TipPoolContribution,
			@HoursWorked,
			@OT1HoursWorked,
			@OT1Payrate,
			@OT2HoursWorked,
			@OT2Payrate,
			@BusinessDate,
			GETDATE())
END
GO
