USE [ClearHotsauceEnterprise]
GO
/****** Object:  StoredProcedure [dbo].[Company_sel]    Script Date: 02/28/2014 15:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Company_sel]
as
select * from Company
GO
